<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimplesMed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url("~/imagens/background.jpeg");
            background-color: #17a2b8;
        }
    </style>
</head>

<body >
    <div>
        @RenderBody()
    </div>
</body>

</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/knockout/knockout.js"></script>

@RenderSection("Scripts", required: false)
<script>
    var screenModel = new ScreenModel();
    ko.applyBindings(screenModel);
</script>